nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #694646;
	justify-content: center;
	border: 5px solid black;
}

body {
	background-color: #827070;
	font-family: "Trebuchet MS", serif, sans-serif, monospace;
}

.professional-bar {
	border-top: 0px;
}

.interests-bar {
	border-top: 0px;
}

.nav-bar button {
	font-weight: bold;
	font-family: "Trebuchet MS", serif, sans-serif, monospace;
	background-color: #5e5d7a;
	color: black;
	margin: 10px;
	padding: 20px;
	font-size: 200%;
}

.interests-bar button {
	font-weight: bold;
	font-family: "Trebuchet MS", serif, sans-serif, monospace;
	background-color: #5e5d7a;
	color: black;
	margin: 5px;
	padding: 10px;
	width: 15%;
	font-size: 150%;
	justify-content: center;
}

.professional-bar button {
	font-weight: bold;
	font-family: "Trebuchet MS", serif, sans-serif, monospace;
	background-color: #5e5d7a;
	color: black;
	margin: 5px;
	padding: 10px;
	width: 15%;
	font-size: 150%;
	justify-content: center;
}

.emojis {
	display: flex;
  	margin-left: auto;
  	margin-right: auto;
}

.emojis img {
	border: 5px solid black;
	margin-left: auto;
  	margin-right: auto;
  	width: 60%;
}

.emojis p {
	margin-left: auto;
  	margin-right: auto;
  	font-size: 400%;
}

.teacher, .meplaying {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

video {
	margin: 5px;
}

.nav-bar button, .interests-bar button, .professional-bar button {
	width: 100%;
}

.teacher {
	flex-direction: column;
}

.teacher .t1, .teacher .t2, .teacher .t3 {
	height: 30%;
	width: auto;
}

.meplaying .m1, .meplaying .m2, .meplaying .m3 {
	height: 30%;
	width: auto;
}

@media only screen and (min-width: 1000px) {
	nav {
		flex-direction: row;
		align-items: center;
	}

	.nav-bar button {
		width: 30%;
	}

	.professional-bar button, .new_guitar, .interests-bar button {
		width: 40%;
	}

	.teacher, .meplaying {
		flex-direction: row;
	}

	.meplaying .m1, .meplaying .m2, .meplaying .m3 {
		height: auto;
		width: 30%;
	}
}


h1, h2, p {
	text-align: center;
}

h1 {
	color: yellow;
	font-size: 300%;
}

h2 {
	font-size: 200%;
	text-decoration: underline;
}
