$base-font-size   : 1.5em;
$bigger-screen-font-size: 1em;
$primary-font: ("Trebuchet MS", serif, sans-serif, monospace);

$medium-base-font-size  : 2em;
$medium-scale           : 1.2;

$large-base-font-size   : 2.5em;
$large-scale            : 1.5;

$breakpoints: (
  small: 600px,
  medium: 1100px,
  large: 1200px
);

$standardPadding		: 1em;
$standardMargin 		: (1em auto 1em auto);
$defaultBorder			: 5px solid black;
$standardWidth			: 100%;


$defaultParagraphMargin	: (1em 5em	1em	5em);
$mediumParagraphMargin	: (1em 10em	1em	10em);
$largeParagraphMargin	: (1em 20em	1em	20em);


$primaryBackgroundColor : #5e5d7a;
$primaryTextColor		: yellow;
$primaryBodyColor		: #827070;
$primaryNavColor		: #694646;
$primaryCodeBackgroundColor	: #eee;
$primaryRoundedColor	: #bbb;
$defaultHeaderFontSize	: 100%;
$defaultParagraphColor	: black;
